#navFloatWrap {
    height: 95px;
}

/*
*    Could use float: left and float: right instead
*/
.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav_float {
    position: static;
    height: 100%;
}

.nav-left {
    flex: 0 1 auto;
    margin-right: auto;
}

.nav-right {
    flex: 0 1 auto;
    margin-left: auto;
}

.nav-item {
    display: inline-block;
}

.l-fixed.nav_float {
    position: fixed;
    height: 95px;
    top: 0;
}
