.tabs {
    color: white;
}

.tabs-item {
    display: inline-block;
}

.tabs-content {
    background-color: #1B3350;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px 20px 20px 20px;
}

.tabs-nav {
    padding: 40px 20px 0px 20px;
    border-bottom: 1px solid #999999;
}

.is-tabs-item-active {
    border-bottom: 1px solid white;
}

.is-tabs-content-active {
    display: flex;
}

.tabs-incident {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

.tabs-incident-nav {
    width: calc(20% - 20px);
    padding: 10px 0 0 20px;
    background-color: #0E1A35;
    color: #999999;
}

.tabs-incident-item {
    display: block;
}

a.tabs-incident-link {
    color: #7C86AE;
}

.tabs-incident-content {
    flex-direction: column;
    width: 80%;
    padding: 0px;
}

.tabs-item a.tabs-link {
    color: #999999;
}

.tabs-item.is-tabs-item-active a.tabs-link {
    color: white;
}

.tabs-incident-item.is-tabs-item-active {
    border: none;
}
