ul {
    list-style-type: none;
    padding-left: 0px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.428;
}

.tabs-link {
    display: inline-block;
}

.tabs-content {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.is-tabs-content-active {
    display: flex;
}

.tabs-incident {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: stretch;
    align-items: stretch;
}

.tabs-incident-nav {
    width: 100px;
}

.tabs-incident-link {
    display: block;
}

.tabs-incident-content {
    flex-direction: column;
}
